extend layout



block content

     h1 #{title}

     p Math.acosh() is applied to #{count} is #{acosh}

     p Math.log1p() is applied to #{count1} is #{log1p}

     p Math.tan() is applied to #{count2} is #{tan}

     p Math.sqrt() is applied to #{count3} is #{sqrt}